/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
@media (max-width: 991px) {
  .panel.header .links,
  .panel.header .switcher {
    display: none;
  }
  .nav-sections {
    background: none;
    background: transparent;
  }
  .nav-toggle {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 15px;
    position: absolute;
    top: 15px;
    z-index: 14;
  }
  .nav-toggle:before {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: inherit;
    color: #8f8f8f;
    content: '\e609';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .nav-toggle:hover:before {
    color: #333333;
  }
  .nav-toggle > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
@media (max-width: 991px) {
  .navigation {
    padding: 0;
  }
  .navigation .parent .level-top {
    position: relative;
    display: block;
    text-decoration: none;
  }
  .navigation .parent .level-top:after {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .navigation .parent .level-top:after {
    position: absolute;
    right: 7px;
    top: 5px;
  }
  .navigation .parent .level-top.ui-state-active {
    margin-left: 0;
  }
  .navigation .parent .level-top.ui-state-active:after {
    content: '\e621';
  }
  .nav-sections {
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    transition: left 0.3s;
    height: 100%;
    left: -80%;
    left: calc(-1 * (100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 54px);
  }
  .nav-sections .switcher {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    padding: 8px 20px;
  }
  .nav-sections .switcher .label {
    display: block;
    margin-bottom: 5px;
  }
  .nav-sections .switcher:last-child {
    border-bottom: 1px solid #d1d1d1;
  }
  .nav-sections .switcher-trigger strong {
    display: inline-block !important;
    position: relative;
    display: block;
    text-decoration: none;
  }
  .nav-sections .switcher-trigger strong:after {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .nav-sections .switcher-trigger strong:after {
    position: absolute;
    right: -40px;
    top: -18px;
  }
  .nav-sections .switcher-trigger.active strong:after {
    content: '\e621';
  }
  .nav-sections .switcher-dropdown {
    margin: 0;
    padding: 0;
    list-style: none none;
    padding: 10px 0;
  }
  .nav-sections .header.links {
    margin: 0;
    padding: 0;
    list-style: none none;
  }
  .nav-sections .header.links li {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
    margin: 0;
  }
  .nav-sections .header.links li.greet.welcome {
    font-weight: 700;
    padding: 8px 20px;
  }
  .nav-sections .header.links li:last-child {
    border-bottom: 1px solid #d1d1d1;
  }
  .nav-sections .header.links a,
  .nav-sections .header.links a:hover {
    color: #575757;
    text-decoration: none;
    display: block;
    font-weight: 700;
    padding: 8px 20px;
  }
  .nav-before-open {
    height: 100%;
    width: 100%;
  }
  .nav-before-open .page-wrapper {
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    transition: left 0.3s;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
  }
  .nav-before-open body {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .nav-open .page-wrapper {
    left: 80%;
    left: calc(100% - 54px);
  }
  .nav-open .nav-sections {
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    left: 0;
    z-index: 99;
  }
  .nav-open .nav-toggle:after {
    background: rgba(0, 0, 0, 0.01);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .nav-sections-items {
    position: relative;
    z-index: 1;
  }
  .nav-sections-items:before,
  .nav-sections-items:after {
    content: '';
    display: table;
  }
  .nav-sections-items:after {
    clear: both;
  }
  .nav-sections-item-title {
    background: rgba(0, 0, 0, 0);
    border: solid rgba(0, 0, 0, 0);
    border-width: 0 0 1px 1px;
    box-sizing: border-box;
    float: left;
    height: 71px;
    padding-top: 24px;
    text-align: center;
    width: 33.33%;
  }
  .nav-sections-item-title.active {
    background: transparent;
    border-bottom: 0;
  }
  .nav-sections-item-content {
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    margin-top: 71px;
    width: 100%;
    padding: 25px 0;
  }
  .nav-sections-item-content:before,
  .nav-sections-item-content:after {
    content: '';
    display: table;
  }
  .nav-sections-item-content:after {
    clear: both;
  }
  .nav-sections-item-content.active {
    display: block;
  }
  .navigation {
    background: transparent;
    box-sizing: border-box;
  }
  .navigation ul {
    margin: 0;
    padding: 0;
  }
  .navigation li {
    margin: 0;
  }
  .navigation a {
    display: block;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 15px;
  }
  .navigation a,
  .navigation a:hover {
    color: #575757;
    text-decoration: none;
  }
  .navigation .level0 {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
  }
  .navigation .level0 > .level-top {
    font-weight: 700;
    padding: 8px 40px 8px 15px;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  .navigation .level0.active .all-category .ui-state-focus {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333333;
    padding-left: 7px;
    display: inline-block;
  }
  .navigation .level0 > .level1 {
    font-weight: 600;
  }
  .navigation .level0.active > a:not(.ui-state-active),
  .navigation .level0.has-active > a:not(.ui-state-active) {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333333;
  }
  .navigation .level0.active > a:not(.ui-state-active) span:not(.ui-menu-icon),
  .navigation .level0.has-active > a:not(.ui-state-active) span:not(.ui-menu-icon) {
    margin-left: -8px;
  }
  .navigation li.level0:last-child {
    border-bottom: 1px solid #d1d1d1;
  }
  .navigation .submenu > li {
    word-wrap: break-word;
  }
  .navigation .submenu:not(:first-child) {
    font-weight: 400;
    line-height: 1.3;
    left: auto !important;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    top: auto !important;
    transition: left 0.3s ease-out;
  }
  .navigation .submenu:not(:first-child) > li > a {
    padding-left: 15px;
  }
  .navigation .submenu:not(:first-child) > li:last-child {
    margin-bottom: 0;
  }
  .navigation .submenu:not(:first-child) ul {
    display: block;
    padding-left: 15px;
  }
  .navigation .submenu:not(:first-child) ul > li {
    margin: 0;
  }
  .navigation .submenu:not(:first-child) ul > li a {
    color: #575757;
    display: block;
    line-height: normal;
  }
  .navigation .submenu:not(:first-child).expanded {
    display: block !important;
    padding-right: 0;
    top: 0 !important;
  }
  .navigation .submenu:not(:first-child) .active > a {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333333;
    padding-left: 7px;
  }
  .navigation .submenu:not(:first-child) .level1.active > a {
    padding-left: 7px;
  }
}
@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
  .nav-sections {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin-bottom: 25px;
  }
  .nav-sections-item-title {
    display: none;
  }
  .nav-sections-item-content {
    display: block !important;
  }
  .nav-sections-item-content > * {
    display: none;
  }
  .nav-sections-item-content > .navigation {
    display: block;
  }
  .navigation {
    background: transparent;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .navigation:empty {
    display: none;
  }
  .navigation ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
  }
  .navigation li.level0 {
    border-top: none;
  }
  .navigation .level0 {
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
  }
  .navigation .level0:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .navigation .level0 > .level-top {
    color: #575757;
    line-height: 47px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
  }
  .navigation .level0 > .level-top:hover,
  .navigation .level0 > .level-top.ui-state-focus {
    color: #333333;
    text-decoration: none;
  }
  .navigation .level0.active > .level-top,
  .navigation .level0.has-active > .level-top {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 3px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
  }
  .navigation .level0.parent:hover > .submenu {
    overflow: visible !important;
  }
  .navigation .level0 .submenu {
    background: #f7f7f7;
    border: 1px solid #ededed;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    font-weight: 400;
    min-width: 230px;
    padding: 15px 0;
    display: none;
    left: 0;
    margin: 0 !important;
    padding: 0;
    position: absolute;
    z-index: 1;
    margin-top: 11px;
  }
  .navigation .level0 .submenu > ul {
    margin-top: 11px;
  }
  .navigation .level0 .submenu > ul:before,
  .navigation .level0 .submenu > ul:after {
    content: '';
    display: block;
    overflow: hidden;
    position: absolute;
  }
  .navigation .level0 .submenu > ul:before {
    color: #f7f7f7;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    height: 0;
    width: 0;
    border-bottom-color: #f7f7f7;
    z-index: 4;
  }
  .navigation .level0 .submenu > ul:after {
    border: 11px solid transparent;
    height: 0;
    width: 0;
    border-bottom-color: #ededed;
    color: #ededed;
    left: 19px;
    top: -22px;
    z-index: 3;
  }
  .navigation .level0 .submenu a {
    display: block;
    line-height: inherit;
    color: #575757;
    padding: 8px 20px;
  }
  .navigation .level0 .submenu a:hover,
  .navigation .level0 .submenu a.ui-state-focus {
    background: #e8e8e8;
    color: #333333;
    text-decoration: none;
  }
  .navigation .level0 .submenu .active > a {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 3px;
    color: #333333;
  }
  .navigation .level0 .submenu .submenu {
    top: 0 !important;
    left: 100% !important;
  }
  .navigation .level0 .submenu .submenu-reverse {
    left: auto !important;
    right: 100%;
  }
  .navigation .level0.more {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .navigation .level0.more:after {
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
    line-height: inherit;
    color: inherit;
    content: '\e607';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .navigation .level0.more:before {
    display: none;
  }
  .navigation .level0.more:after {
    cursor: pointer;
    padding: 8px 12px;
    position: relative;
    z-index: 1;
  }
  .navigation .level0.more:hover > .submenu {
    overflow: visible !important;
  }
  .navigation .level0.more li {
    display: block;
  }
  .panel.header .links,
  .panel.header .switcher {
    display: inline-block;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 780px) and (orientation: landscape) {
  .product-video {
    height: 100%;
    width: 81%;
  }
}
.block-search {
  padding-top: 10px;
  position: relative;
  float: right;
  width: 250px;
  z-index: 4;
}
.block-search .control {
  border-top: 0;
  margin: 0;
  padding: 0;
}
.block-search input {
  position: static;
  padding-right: 35px;
  margin: 0;
}
.block-search input::-webkit-input-placeholder {
  color: #c2c2c2;
}
.block-search input:-moz-placeholder {
  color: #c2c2c2;
}
.block-search input::-moz-placeholder {
  color: #c2c2c2;
}
.block-search input:-ms-input-placeholder {
  color: #c2c2c2;
}
.block-search .action.search {
  position: absolute;
  right: 10px;
  top: 25px;
  z-index: 1;
  display: inline-block;
  background-image: none;
  background: none;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-shadow: none;
  font-weight: 400;
}
.block-search .action.search > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.block-search .action.search:before {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: inherit;
  color: #8f8f8f;
  content: '\e615';
  font-family: 'luma-icons';
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.block-search .action.search:hover:before {
  color: #333333;
}
.block-search .action.search:active:before {
  color: inherit;
}
.block-search .action.search:focus,
.block-search .action.search:active {
  background: none;
  border: none;
}
.block-search .action.search:hover {
  background: none;
  border: none;
}
.block-search .action.search.disabled,
.block-search .action.search[disabled],
fieldset[disabled] .block-search .action.search {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.block-search .action.search:focus:before {
  color: #333333;
}
.search-autocomplete {
  margin-top: 0;
}
.navigation {
  background: transparent !important;
  border-top: 2px solid #333;
}
.navigation ul.ui-menu {
  padding: 0;
}
.navigation ul > li,
.navigation ol > li {
  margin-bottom: 0;
}
.navigation .level0 {
  margin: 0 !important;
}
.navigation .level0 .level1.parent::before {
  top: 15px !important;
}
.navigation .level0 > .level-top {
  text-transform: uppercase;
  padding: 0 28px!important;
  line-height: 58px !important;
}
.navigation .level0 > .level1.parent {
  position: relative;
}
.navigation .level0 > .level1.parent:before {
  position: absolute;
  content: "\f105";
  width: 20px;
  height: 20px;
  right: 0px;
  top: 10px;
  font-family: "FontAwesome";
}
.navigation .level0 .submenu {
  border: 1px solid #e6e6e6!important;
}
.navigation .level0 .submenu a {
  padding: 15px 20px!important;
}
.navigation .ui-menu > li > a {
  font-family: "Work Sans", sans-serif;
  color: #000000 !important;
  font-weight: normal;
  letter-spacing: 3px;
}
.navigation .ui-menu > li > a.level-top {
  font-size: 17px;
}
.navigation .level0.active > .level-top,
.navigation .level0.has-active > .level-top {
  border: 0 !important;
}
.navigation .level0.active > .level-top::before,
.navigation .level0.has-active > .level-top::before {
  content: "";
  background: #9fd4de;
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2px;
}
.nav-toggle::before {
  color: #000000 !important;
}
.nav-toggle:hover:before {
  color: #9fd4de !important;
}
/* Ves Megamenu */
.ves-menutop {
  position: relative;
}
.ves-menutop .ves-megamenu {
  background: transparent;
  margin-bottom: 0;
}
.ves-menutop .ves-megamenu p {
  margin: 0;
}
.ves-menutop .ves-megamenu.menu-hover li .dropdown-menu {
  min-width: 220px;
}
.ves-menutop .ves-megamenu.menu-hover .subdynamic .dropdown-menu .caret {
  position: absolute;
  top: 20px;
}
.ves-menutop .ves-megamenu .megamenu-header .links li,
.ves-menutop .ves-megamenu .megamenu-footer .links li {
  display: inline-block;
  padding: 0 5px;
}
.ves-menutop .ves-megamenu .cat-label {
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.ves-menutop .ves-megamenu .cat-label.pin-top {
  top: -10px;
}
.ves-menutop .ves-megamenu .cat-label.cat-label-v1 {
  background: #7bcdc9;
}
.ves-menutop .ves-megamenu .cat-label.cat-label-v2 {
  background: #f05253;
}
.ves-menutop .ves-megamenu li.level0 {
  float: left;
}
.rtl .ves-menutop .ves-megamenu li.level0 {
  float: right !important;
}
.ves-menutop .ves-megamenu li.level0 > a {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  line-height: 60px;
  padding: 0 10px;
}
.ves-menutop .ves-megamenu li.level0 > a.fa {
  font-family: "FontAwesome";
}
.ves-menutop .ves-megamenu li.level0.active > a,
.ves-menutop .ves-megamenu li.level0:hover > a {
  background: none;
  color: #9fd4de !important;
}
.ves-menutop .ves-megamenu li.level0.submenu-left > .dropdown-menu {
  left: 0;
}
.rtl .ves-menutop .ves-megamenu li.level0.submenu-left > .dropdown-menu {
  right: 0;
  left: auto;
}
.ves-menutop .ves-megamenu > li:last-child > a:after {
  display: none;
}
.ves-menutop .ves-megamenu .caret {
  border: 0;
  width: 6px;
  position: unset;
  right: 0;
}
.rtl .ves-menutop .ves-megamenu .caret {
  left: 0;
  right: auto;
}
.ves-menutop .ves-megamenu .megamenu-widget .block-title {
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 6px;
  border-bottom: 1px dotted #ddd;
}
.ves-menutop .ves-megamenu .products-widget {
  position: relative;
  overflow: hidden;
}
.ves-menutop .ves-megamenu .products-widget .owl-nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}
.rtl .ves-menutop .ves-megamenu .products-widget .owl-nav {
  left: 0;
  right: auto;
}
.ves-menutop .ves-megamenu .products-widget .owl-nav a {
  float: left;
  width: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.ves-menutop .ves-megamenu .products-widget .owl-nav a:hover {
  color: #9fd4de;
  border-color: #9fd4de;
}
.ves-menutop .ves-megamenu .products-widget .owl-carousel {
  max-width: 100% !important;
}
.ves-menutop .ves-megamenu .products-widget .product-item .price-box {
  margin-bottom: 5px;
}
.ves-menutop .ves-megamenu .products-widget .product-block .product-item-info {
  margin-top: 10px;
}
.ves-menutop .ves-megamenu .products-widget .product-block .product-item-info .product-item-name a {
  font-size: 14px;
}
.ves-menutop .ves-megamenu .products-widget .product-block .actions-secondary {
  display: none;
}
.ves-menutop .ves-megamenu .dynamic-items li {
  padding: 0;
  font-weight: 400;
  border-bottom: 1px dotted #ddd;
  border-right: 1px solid #eeeeee;
}
.rtl .ves-menutop .ves-megamenu .dynamic-items li {
  border-left: 1px solid #eeeeee;
  border-right: none;
}
.ves-menutop .ves-megamenu .dynamic-items li.dynamic-active {
  border-left: 0 !important;
  border-right: 0 !important;
}
.ves-menutop .ves-megamenu .dynamic-items li a {
  padding: 12px 0;
  font-size: 13px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.ves-menutop .ves-megamenu .dynamic-items li a:hover {
  background: #9fd4de;
  color: #ffffff;
}
.ves-menutop .ves-megamenu .dynamic-item .products-widget {
  padding: 3px 3px 0;
}
.ves-menutop .ves-megamenu .dropdown-menu {
  padding: 20px 30px;
  font-size: 14px;
  border-radius: 0;
  border: 1px solid #ededed;
  box-shadow: none;
  text-align: left;
}
.rtl .ves-menutop .ves-megamenu .dropdown-menu {
  text-align: right;
}
.ves-menutop .ves-megamenu .dropdown-menu a:hover,
.ves-menutop .ves-megamenu .dropdown-menu .subgroup.level1 > a:hover,
.ves-menutop .ves-megamenu .dropdown-menu .subgroup .subgroup .dropdown-mega a:hover {
  color: #9fd4de;
}
.ves-menutop .ves-megamenu .dropdown-menu .subgroup.level1 > .submenu > .content-wrap > .megamenu-content {
  margin: 0 0 10px;
}
.ves-menutop .ves-megamenu .dropdown-menu .content-wrap > .megamenu-content > .level1 > .item-content1 {
  margin-left: -10px;
  margin-right: -10px;
}
.ves-menutop .ves-megamenu .dropdown-menu .nav-item > a {
  line-height: 28px;
  color: #484848;
  font-weight: 300;
  float: left;
  width: 100%;
  border-bottom: 1px dotted #ddd;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.rtl .ves-menutop .ves-megamenu .dropdown-menu .nav-item > a {
  float: right !important;
}
.ves-menutop .ves-megamenu .dropdown-menu .nav-item > a:hover {
  background: #9fd4de;
  color: #ffffff !important;
  padding-left: 8px;
}
.rtl .ves-menutop .ves-megamenu .dropdown-menu .nav-item > a:hover {
  padding-right: 8px;
  padding-left: inherit;
}
.ves-menutop .ves-megamenu .dropdown-menu a.subitems-group > i {
  float: left;
  line-height: 18px;
}
.rtl .ves-menutop .ves-megamenu .dropdown-menu a.subitems-group > i {
  float: right !important;
}
.ves-menutop .ves-megamenu .dropdown-menu .subgroup.level1 > a {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}
.ves-menutop .ves-megamenu .dropdown-menu .caret:after {
  right: 12px;
}
.rtl .ves-menutop .ves-megamenu .dropdown-menu .caret:after {
  left: 12px;
  right: auto;
}
.ves-menutop .ves-megamenu.nav-mobile .opener {
  margin-top: 5px;
  padding: 15px 20px;
}
.ves-menutop .ves-megamenu.nav-mobile .opener::before {
  content: "\f107";
}
.ves-menutop .ves-megamenu.nav-mobile .opener.item-active:before {
  content: "\f106";
}
.ves-menutop .ves-megamenu.nav-mobile .dropdown-menu .opener {
  margin-top: 0;
  padding: 13px 14px;
}
.ves-menutop .ves-megamenu.nav-mobile .dropdown-submenu .dropdown-menu {
  border: 0;
  padding: 0 5px;
}
/* Ves Vertical Menu */
.vertical-menu {
  background: rgba(255, 255, 255, 0.1);
  position: relative;
}
.vertical-menu > p {
  margin: 0;
}
.vertical-menu .block {
  margin-bottom: 0;
}
.vertical-menu .block .block-title {
  min-height: 52px;
  line-height: 52px;
  padding: 0 28px;
  margin: 0;
}
.vertical-menu .block .block-title strong::before {
  color: #000000;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  right: 8%;
  top: 8px;
}
.rtl .vertical-menu .block .block-title strong::before {
  left: 8%;
  right: auto;
}
.vertical-menu .ves-vertical {
  background: #ffffff;
  display: none;
  position: absolute;
  z-index: 100;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}
.vertical-menu .ves-vertical .icon-left {
  margin-right: 15px;
}
.vertical-menu:hover {
  background: #2a2a2a;
  border-radius: 4px 4px 0 0;
}
.vertical-menu:hover .ves-vertical {
  display: block;
}
.vertical-menu:hover .block .block-title strong:before {
  content: "\f106";
  color: #ffffff;
}
.vertical-menu:hover .block .block-title * {
  color: #ffffff;
}
.page-wrapper .ves-vertical {
  padding: 0 0 10px;
}
.page-wrapper .ves-vertical .cat-label {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.page-wrapper .ves-vertical .cat-label.pin-top {
  top: -10px;
}
.page-wrapper .ves-vertical .cat-label.cat-label-v1 {
  background: #4db9f7;
}
.page-wrapper .ves-vertical .cat-label.cat-label-v2 {
  background: #f05253;
}
.page-wrapper .ves-vertical.menu-click {
  min-width: 100px;
}
.page-wrapper .ves-vertical.menu-click .nav-item .opener {
  padding: 0;
  line-height: 30px;
  right: 0;
  top: 3px;
}
.rtl .page-wrapper .ves-vertical.menu-click .nav-item .opener {
  left: 0;
  right: auto;
}
.page-wrapper .ves-vertical.menu-click .nav-item .opener::before {
  content: "\f107";
  font-size: 12px;
}
.page-wrapper .ves-vertical.menu-click .nav-item .opener.item-active:before {
  content: "\f106";
}
.page-wrapper .ves-vertical.menu-click .nav-item .dropdown-submenu .opener {
  top: -5px;
}
.page-wrapper .ves-vertical.menu-click .nav-item .dropdown-menu {
  display: none;
  max-width: 100% !important;
  min-width: 100% !important;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  padding: 2px 0;
  padding-left: 10px;
  position: static;
  transition: none 0s ease 0s;
}
.rtl .page-wrapper .ves-vertical.menu-click .nav-item .dropdown-menu {
  padding-right: 10px;
  padding-left: inherit;
}
.page-wrapper .ves-vertical.menu-click .nav-item .dropdown-menu .mega-col {
  padding: 0;
}
.page-wrapper .ves-vertical.menu-click .nav-item .dropdown-menu .nav-item {
  line-height: 20px;
}
.page-wrapper .ves-vertical.menu-click .nav-item .dropdown-menu .nav-item > a {
  line-height: 24px;
  font-size: 13px;
  font-weight: 400;
  padding: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.page-wrapper .ves-vertical.menu-click .nav-item .dropdown-menu .nav-item > a:hover {
  color: #000000;
  font-weight: 500;
}
.page-wrapper .ves-vertical.menu-click .nav-item .dropdown-menu .nav-item > a:hover::before {
  content: "\f111";
  font-family: "FontAwesome";
  font-size: 4px;
  color: #9fd4de;
  position: absolute;
  left: -10px;
  top: -1px;
}
.rtl .page-wrapper .ves-vertical.menu-click .nav-item .dropdown-menu .nav-item > a:hover::before {
  right: -10px;
  left: auto;
}
.page-wrapper .ves-vertical.menu-click .nav-item.level0 > a {
  border: 0;
  font-weight: 500;
  padding: 6px 0;
}
.page-wrapper .ves-vertical.menu-click .nav-item.level0.active .opener::before {
  content: "\f106";
}
.page-wrapper .ves-vertical.menu-click .nav-item.level0.active .opener.item-active:before {
  content: "\f107";
}
.page-wrapper .ves-vertical.menu-click .nav-item.level0.active .dropdown-menu {
  display: block;
  background: #ffffff !important;
}
.page-wrapper .ves-vertical.menu-click li {
  line-height: 36px;
}
.page-wrapper .ves-vertical.menu-click li:before,
.page-wrapper .ves-vertical.menu-click li:after {
  content: " ";
  display: table;
}
.page-wrapper .ves-vertical.menu-click li:after {
  clear: both;
}
.page-wrapper .ves-vertical.menu-click li.level0 > a > span:not(.caret):not(.opener) {
  float: none !important;
}
.page-wrapper .ves-vertical.menu-click .dropdown-menu .subgroup.level1 .dropdown-mega {
  display: none;
}
.page-wrapper .ves-vertical li.level0 {
  float: left;
  width: 100%;
  border: 0 !important;
}
.rtl .page-wrapper .ves-vertical li.level0 {
  float: right !important;
}
.page-wrapper .ves-vertical li.level0 > a {
  background: transparent !important;
  font-size: 14px;
  font-weight: 300;
  color: #484848;
  width: 100%;
  line-height: 24px;
  text-transform: none;
  padding: 10px 0;
  border-bottom: 1px solid #ededed;
}
.page-wrapper .ves-vertical li.level0 > a .caret {
  position: absolute;
  right: 5px;
  top: 8px;
  border: 0;
}
.rtl .page-wrapper .ves-vertical li.level0 > a .caret {
  left: 5px;
  right: auto;
}
.page-wrapper .ves-vertical li.level0 > a .caret::before {
  content: "\f105";
  font-family: "FontAwesome";
}
.page-wrapper .ves-vertical li.level0.active > a {
  background: none;
  color: #333;
}
.page-wrapper .ves-vertical li.level0:last-child > a {
  border: 0;
}
.page-wrapper .ves-vertical .product-block .product-item-info {
  margin-top: 10px;
}
.page-wrapper .ves-vertical .product-block .product-item-info .product-item-name {
  margin-bottom: 5px;
}
.page-wrapper .ves-vertical li.dropdown {
  position: relative;
}
.page-wrapper .ves-vertical .dynamic-items li {
  padding: 12px 0;
}
.page-wrapper .ves-vertical .dropdown-menu {
  -webkit-box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: left;
  min-width: 220px !important;
  padding: 30px;
}
.rtl .page-wrapper .ves-vertical .dropdown-menu {
  text-align: right;
}
.page-wrapper .ves-vertical .dropdown-menu .megamenu-footer {
  background: none;
  padding: 0;
}
.page-wrapper .ves-vertical .dropdown-menu a:hover {
  color: #9fd4de;
}
.page-wrapper .ves-vertical .dropdown-menu .nav-item > a {
  line-height: 24px;
  color: #666;
  font-weight: 300;
}
.page-wrapper .ves-vertical .dropdown-menu .nav-item > a:hover {
  color: #9fd4de;
}
.page-wrapper .ves-vertical .dropdown-menu .subgroup.level1 > a {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
}
.page-wrapper .ves-vertical .dropdown-menu .subgroup.level1 > a:hover {
  color: #9fd4de;
}
.widget-menu .block.ves-menu {
  overflow: visible;
  float: left;
  width: 100%;
  padding: 0;
}
.rtl .widget-menu .block.ves-menu {
  float: right !important;
}
.widget-menu .block.ves-menu .block-title {
  margin: 25px 30px 0;
}
.widget-menu .ves-vertical {
  background: #ffffff;
}
.widget-menu .ves-vertical .icon-left {
  margin-right: 15px;
}
.rtl .ves-vertical .dropdown-menu {
  -webkit-box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
}
.rtl .ves-vertical .dropdown > .dropdown-menu {
  right: 108% !important;
  left: auto !important;
}
.rtl .ves-vertical .dropdown:hover > .dropdown-menu {
  right: 100% !important;
  left: auto !important;
}
@media all and (min-width: 768px), print {
  .abs-product-options-list-desktop dt,
  .block-giftregistry-shared .item-options dt {
    clear: left;
    float: left;
    margin: 0 10px 5px 0;
  }
  .block-giftregistry-shared .item-options dt:after {
    content: ': ';
  }
  .abs-product-options-list-desktop dd,
  .block-giftregistry-shared .item-options dd {
    display: inline-block;
    float: left;
    margin: 0 0 5px;
  }
  .abs-button-desktop {
    width: auto;
  }
  .abs-blocks-2columns,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box,
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content .box,
  .sales-guest-view .column.main .block:not(.widget) .block-content .box,
  .login-container .block,
  .account .column.main .block:not(.widget) .block-content .box,
  .block-addresses-list .items.addresses > .item {
    width: 48.8%;
  }
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box:nth-child(odd),
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content .box:nth-child(odd),
  .sales-guest-view .column.main .block:not(.widget) .block-content .box:nth-child(odd),
  .login-container .block:nth-child(odd),
  .account .column.main .block:not(.widget) .block-content .box:nth-child(odd),
  .block-addresses-list .items.addresses > .item:nth-child(odd) {
    clear: left;
    float: left;
  }
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box:nth-child(even),
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content .box:nth-child(even),
  .sales-guest-view .column.main .block:not(.widget) .block-content .box:nth-child(even),
  .login-container .block:nth-child(even),
  .account .column.main .block:not(.widget) .block-content .box:nth-child(even),
  .block-addresses-list .items.addresses > .item:nth-child(even) {
    float: right;
  }
  .abs-reset-left-margin-desktop,
  .bundle-options-container .legend.title,
  .gift-summary .actions-toolbar,
  .cart.table-wrapper .gift-summary .actions-toolbar,
  .column.main .block-giftregistry-shared-items .actions-toolbar,
  .form-new-agreement .fieldset .legend,
  .form-new-agreement .actions-toolbar,
  .column.main .paypal-review .actions-toolbar,
  .wishlist-index-index .main .form-wishlist-items .actions-toolbar {
    margin-left: 0;
  }
  .abs-action-remove-desktop,
  .abs-add-fields-desktop .fieldset .additional .action.remove,
  .form-giftregistry-share .fieldset .additional .action.remove,
  .form-giftregistry-edit .fieldset .additional .action.remove,
  .form-add-invitations .fieldset .additional .action.remove,
  .form-create-return .fieldset .additional .action.remove,
  .form.send.friend .fieldset .additional .action.remove {
    margin-left: 75.8%;
    top: 6px;
  }
  .form-giftregistry-share .fieldset .field:not(.choice) .control,
  .form-giftregistry-edit .fieldset .field:not(.choice) .control,
  .form-add-invitations .fieldset .field:not(.choice) .control,
  .form-create-return .fieldset .field:not(.choice) .control,
  .form.send.friend .fieldset .field:not(.choice) .control {
    width: 50%;
  }
  .abs-margin-for-forms-desktop,
  .fieldset .legend,
  .column:not(.sidebar-main) form .actions-toolbar,
  .column:not(.sidebar-additional) form .actions-toolbar,
  .login-container .fieldset:after {
    margin-left: 25.8%;
  }
  .abs-visually-hidden-desktop,
  .dashboard-welcome-toggler,
  .block-collapsible-nav .title,
  .block-search .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .abs-add-clearfix-desktop:before,
  .abs-add-clearfix-desktop:after,
  .abs-pager-toolbar:before,
  .abs-pager-toolbar:after,
  .block-cart-failed .block-content:before,
  .block-cart-failed .block-content:after,
  .block-giftregistry-shared .item-options:before,
  .block-giftregistry-shared .item-options:after,
  .gift-wrapping .nested:before,
  .gift-wrapping .nested:after,
  .table .gift-wrapping .content:before,
  .table .gift-wrapping .content:after,
  .block-wishlist-management:before,
  .block-wishlist-management:after,
  .paypal-review .block-content:before,
  .paypal-review .block-content:after,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content:before,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content:after,
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content:before,
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content:after,
  .sales-guest-view .column.main .block:not(.widget) .block-content:before,
  .sales-guest-view .column.main .block:not(.widget) .block-content:after,
  .cart-container:before,
  .cart-container:after,
  .login-container:before,
  .login-container:after,
  .account .column.main .block:not(.widget) .block-content:before,
  .account .column.main .block:not(.widget) .block-content:after,
  .block-addresses-list .items.addresses:before,
  .block-addresses-list .items.addresses:after,
  .header.content:before,
  .header.content:after,
  .page-header .header.panel:before,
  .page-header .header.panel:after,
  .toolbar-giftregistry-results:before,
  .toolbar-giftregistry-results:after,
  .toolbar-wishlist-results:before,
  .toolbar-wishlist-results:after,
  .account .toolbar:before,
  .account .toolbar:after {
    content: '';
    display: table;
  }
  .abs-add-clearfix-desktop:after,
  .abs-pager-toolbar:after,
  .block-cart-failed .block-content:after,
  .block-giftregistry-shared .item-options:after,
  .gift-wrapping .nested:after,
  .table .gift-wrapping .content:after,
  .block-wishlist-management:after,
  .paypal-review .block-content:after,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content:after,
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content:after,
  .sales-guest-view .column.main .block:not(.widget) .block-content:after,
  .cart-container:after,
  .login-container:after,
  .account .column.main .block:not(.widget) .block-content:after,
  .block-addresses-list .items.addresses:after,
  .header.content:after,
  .page-header .header.panel:after,
  .toolbar-giftregistry-results:after,
  .toolbar-wishlist-results:after,
  .account .toolbar:after {
    clear: both;
  }
  .abs-add-box-sizing-desktop,
  .column.main,
  .sidebar-main,
  .sidebar-additional,
  .block.crosssell {
    box-sizing: border-box;
  }
  .abs-add-box-sizing-desktop-m,
  .opc-wrapper {
    box-sizing: border-box;
  }
  .abs-revert-field-type-desktop .fieldset > .field,
  .abs-revert-field-type-desktop .fieldset .fields > .field,
  .product-add-form .fieldset > .field,
  .product-add-form .fieldset .fields > .field {
    margin: 0 0 20px;
  }
  .abs-revert-field-type-desktop .fieldset > .field:not(.choice) > .label,
  .abs-revert-field-type-desktop .fieldset .fields > .field:not(.choice) > .label,
  .product-add-form .fieldset > .field:not(.choice) > .label,
  .product-add-form .fieldset .fields > .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .abs-revert-field-type-desktop .fieldset > .field:not(.choice) > .control,
  .abs-revert-field-type-desktop .fieldset .fields > .field:not(.choice) > .control,
  .product-add-form .fieldset > .field:not(.choice) > .control,
  .product-add-form .fieldset .fields > .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .abs-revert-field-type-desktop .fieldset > .field > .label,
  .abs-revert-field-type-desktop .fieldset .fields > .field > .label,
  .product-add-form .fieldset > .field > .label,
  .product-add-form .fieldset .fields > .field > .label {
    margin: 0 0 8px;
    display: inline-block;
  }
  .abs-revert-field-type-desktop .fieldset > .field.choice:before,
  .abs-revert-field-type-desktop .fieldset .fields > .field.choice:before,
  .abs-revert-field-type-desktop .fieldset > .field.no-label:before,
  .abs-revert-field-type-desktop .fieldset .fields > .field.no-label:before,
  .product-add-form .fieldset > .field.choice:before,
  .product-add-form .fieldset .fields > .field.choice:before,
  .product-add-form .fieldset > .field.no-label:before,
  .product-add-form .fieldset .fields > .field.no-label:before {
    display: none;
  }
  .product-add-form .fieldset > .field:not(:first-child):last-of-type,
  .product-add-form .fieldset .fields > .field:not(:first-child):last-of-type {
    margin-bottom: 0;
  }
  .abs-no-display-desktop,
  .sidebar .block.widget .pager .item:not(.pages-item-next):not(.pages-item-previous),
  .sidebar .block.widget .pager .item:not(.pages-item-next):not(.pages-item-previous) {
    display: none;
  }
  .abs-pager-toolbar,
  .toolbar-giftregistry-results,
  .toolbar-wishlist-results,
  .account .toolbar {
    margin-bottom: 20px;
    position: relative;
  }
  .abs-pager-toolbar .limiter,
  .toolbar-giftregistry-results .limiter,
  .toolbar-wishlist-results .limiter,
  .account .toolbar .limiter {
    float: right;
    position: relative;
    z-index: 1;
  }
  .abs-pager-toolbar .toolbar-amount,
  .toolbar-giftregistry-results .toolbar-amount,
  .toolbar-wishlist-results .toolbar-amount,
  .account .toolbar .toolbar-amount {
    float: left;
    line-height: normal;
    padding: 7px 0 0;
    position: relative;
    z-index: 1;
  }
  .abs-pager-toolbar .pages,
  .toolbar-giftregistry-results .pages,
  .toolbar-wishlist-results .pages,
  .account .toolbar .pages {
    position: absolute;
    width: 100%;
    z-index: 0;
  }
  .abs-shopping-cart-items-desktop,
  .block-cart-failed,
  .cart-container .cart-gift-item,
  .cart-container .form-cart {
    float: left;
    position: relative;
    width: 73%;
  }
  .abs-shopping-cart-items-desktop .actions,
  .block-cart-failed .actions,
  .cart-container .cart-gift-item .actions,
  .cart-container .form-cart .actions {
    text-align: right;
  }
  .block-cart-failed .action.continue,
  .cart-container .cart-gift-item .action.continue,
  .cart-container .form-cart .action.continue {
    float: left;
  }
  .block-cart-failed .action.clear,
  .cart-container .cart-gift-item .action.clear,
  .cart-container .form-cart .action.clear {
    margin-right: 10px;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .navigation,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container,
  .page-main {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 1200px;
    box-sizing: border-box;
  }
  .page-main,
  .page-wrapper > .page-bottom {
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .ie9 .page-main,
  .ie9 .page-wrapper > .page-bottom {
    width: auto;
  }
  .columns {
    display: block;
  }
  .column.main {
    min-height: 300px;
  }
  .page-layout-1column .column.main {
    width: 100%;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-3columns .column.main {
    width: 50%;
    display: inline-block;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-left .column.main {
    width: 75%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-right .column.main {
    width: 75%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .sidebar-main {
    padding-right: 10px;
  }
  .page-layout-3columns .sidebar-main {
    width: 25%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .page-layout-2columns-left .sidebar-main {
    width: 25%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .page-layout-2columns-right .sidebar-main {
    width: 25%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .page-layout-2columns-right .column.main {
    padding-right: 10px;
    width: 76%;
  }
  .page-layout-2columns-right .sidebar-main {
    padding-right: 0;
    padding-left: 10px;
    width: 24%;
    float: right;
  }
  .rtl .page-layout-2columns-right .sidebar-main {
    float: left !important;
  }
  .page-layout-2columns-right .page-wrapper .sidebar-additional {
    width: 24%;
  }
  .sidebar-additional {
    padding-left: 10px;
    clear: right;
  }
  .page-layout-3columns .sidebar-additional {
    width: 25%;
    float: right;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .page-layout-2columns-left .sidebar-additional {
    width: 25%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-right .sidebar-additional {
    width: 25%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-left .sidebar-main {
    width: 24%;
  }
  .page-layout-2columns-left .sidebar-additional {
    padding-right: 10px;
    width: 24%;
    padding-left: 0;
    clear: left;
    float: left;
  }
  .page-layout-2columns-left .column.main {
    padding-left: 10px;
    width: 76%;
  }
  .panel.header {
    padding: 10px 20px;
  }
  .fieldset > .field {
    margin: 0 0 29px;
  }
  .product.data.items {
    position: relative;
    z-index: 1;
  }
  .product.data.items:before,
  .product.data.items:after {
    content: '';
    display: table;
  }
  .product.data.items:after {
    clear: both;
  }
  .product.data.items > .item.title {
    float: left;
    width: auto;
  }
  .product.data.items > .item.title > .switch {
    height: 20px;
    display: block;
    position: relative;
    z-index: 2;
  }
  .product.data.items > .item.content {
    margin-top: 20px;
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    width: 100%;
  }
  .product.data.items > .item.content:before,
  .product.data.items > .item.content:after {
    content: '';
    display: table;
  }
  .product.data.items > .item.content:after {
    clear: both;
  }
  .product.data.items > .item.content.active {
    display: block;
  }
  .product.data.items > .item.title {
    margin: 0 -1px 0 0;
  }
  .product.data.items > .item.title > .switch {
    font-weight: 400;
    line-height: 40px;
    font-size: 1.4rem;
    color: #7d7d7d;
    text-decoration: none;
    background: #f6f6f6;
    border-bottom: none;
    height: 40px;
    padding: 1px 35px 1px 35px;
  }
  .product.data.items > .item.title > .switch:visited {
    color: #7d7d7d;
    text-decoration: none;
  }
  .product.data.items > .item.title > .switch:hover {
    color: #7d7d7d;
    text-decoration: none;
  }
  .product.data.items > .item.title > .switch:active {
    color: #333333;
    text-decoration: none;
  }
  .product.data.items > .item.title:not(.disabled) > .switch:focus,
  .product.data.items > .item.title:not(.disabled) > .switch:hover {
    background: #ffffff;
  }
  .product.data.items > .item.title:not(.disabled) > .switch:active,
  .product.data.items > .item.title.active > .switch,
  .product.data.items > .item.title.active > .switch:focus,
  .product.data.items > .item.title.active > .switch:hover {
    background: #ffffff;
    color: #333333;
  }
  .product.data.items > .item.title.active > .switch,
  .product.data.items > .item.title.active > .switch:focus,
  .product.data.items > .item.title.active > .switch:hover {
    padding-bottom: 2px;
  }
  .product.data.items > .item.content {
    background: #efefef;
    margin-top: 43px;
    padding: 35px 35px 35px 35px;
    border: 0;
  }
  .actions-toolbar {
    text-align: left;
  }
  .actions-toolbar:before,
  .actions-toolbar:after {
    content: '';
    display: table;
  }
  .actions-toolbar:after {
    clear: both;
  }
  .actions-toolbar .primary {
    float: left;
  }
  .actions-toolbar .primary,
  .actions-toolbar .secondary {
    display: inline-block;
  }
  .actions-toolbar .primary a.action,
  .actions-toolbar .secondary a.action {
    display: inline-block;
  }
  .actions-toolbar .primary .action {
    margin: 0 15px 0 0;
  }
  .actions-toolbar .secondary a.action {
    margin-top: 6px;
  }
  .actions-toolbar > .primary,
  .actions-toolbar > .secondary {
    margin-bottom: 0;
  }
  .actions-toolbar > .primary .action,
  .actions-toolbar > .secondary .action {
    margin-bottom: 0;
    width: auto;
  }
  .block-cart-failed .actions {
    text-align: left;
  }
  .block-cart-failed .actions.primary {
    float: right;
  }
  .payment-method-braintree .cvv .field-tooltip {
    left: 6rem;
  }
  .braintree-paypal-account {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px 0;
    display: inline-block;
    width: 50%;
  }
  .account .table-credit-cards .col.actions {
    width: 100px;
  }
  .bundle-options-container .bundle-options-wrapper,
  .bundle-options-container .product-options-wrapper {
    float: left;
    width: 57%;
  }
  .bundle-options-container .block-bundle-summary {
    float: right;
    position: relative;
    width: 40%;
  }
  .page-layout-2columns-left .bundle-options-container .bundle-options-wrapper,
  .page-layout-2columns-left .bundle-options-container .block-bundle-summary,
  .page-layout-2columns-right .bundle-options-container .bundle-options-wrapper,
  .page-layout-2columns-right .bundle-options-container .block-bundle-summary,
  .page-layout-3columns .bundle-options-container .bundle-options-wrapper,
  .page-layout-3columns .bundle-options-container .block-bundle-summary {
    width: 48%;
  }
  .page-product-downloadable .product-options-wrapper {
    float: left;
    width: 55%;
  }
  .page-product-downloadable .product-options-bottom {
    float: right;
    width: 40%;
  }
  .page-product-downloadable .product-options-bottom .field.qty + .actions {
    padding-top: 0;
  }
  .gift-message .field {
    margin: 0 0 20px;
    box-sizing: border-box;
  }
  .gift-message .field > .label {
    margin: 0;
  }
  .gift-message .field:before,
  .gift-message .field:after {
    content: '';
    display: table;
  }
  .gift-message .field:after {
    clear: both;
  }
  .gift-message .field.choice:before,
  .gift-message .field.no-label:before {
    padding: 6px 15px 0 0;
    width: 25.8%;
    box-sizing: border-box;
    content: ' ';
    float: left;
    height: 1px;
  }
  .gift-message .field .description {
    padding: 6px 15px 0 0;
    text-align: left;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .gift-message .field:not(.choice) > .label {
    padding: 6px 15px 0 0;
    text-align: left;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .gift-message .field:not(.choice) > .control {
    width: 74.2%;
    float: left;
  }
  .gift-options {
    position: relative;
    z-index: 1;
  }
  .gift-options .actions-toolbar {
    clear: both;
    float: right;
    position: static;
  }
  .gift-options .actions-toolbar .secondary {
    float: right;
  }
  .gift-options .actions-toolbar .secondary .action {
    float: right;
    margin-left: 20px;
  }
  .gift-options .actions-toolbar .secondary .action-cancel {
    display: block;
    float: left;
    margin-top: 6px;
  }
  .gift-options .actions-toolbar:nth-child(3):before {
    border-left: 1px solid #c1c1c1;
    bottom: 5rem;
    content: '';
    display: block;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
  }
  .gift-options-title {
    font-weight: 300;
    font-size: 1.8rem;
  }
  .cart.table-wrapper .action-gift {
    float: left;
  }
  .form-giftregistry-search .fieldset {
    margin-bottom: 29px;
  }
  .block-giftregistry-shared-items .product-item-photo {
    display: table-cell;
    max-width: 100%;
    padding: 0 20px 0 0;
    vertical-align: top;
    width: 1%;
  }
  .block-giftregistry-shared-items .product-item-details {
    display: table-cell;
    vertical-align: top;
    width: 99%;
    word-break: normal;
  }
  .block-giftregistry-shared-items .col.product {
    width: 48%;
  }
  .block-giftregistry-shared-items .col:not(.product) {
    text-align: center;
  }
  .block-giftregistry-shared-items .col.price {
    padding-top: 17px;
  }
  .block-giftregistry-shared-items .input-text.qty {
    margin-top: -4px;
  }
  .gift-wrapping {
    box-sizing: border-box;
    float: left;
    padding-right: 20px;
    width: 50%;
  }
  .gift-wrapping + .gift-message {
    border-left: 1px solid #c1c1c1;
    box-sizing: border-box;
    float: left;
    padding-left: 4.5rem;
    width: 50%;
  }
  .form-add-invitations .additional,
  .form-add-invitations .field.text {
    margin-top: 29px;
  }
  .table-invitations .col {
    width: 50%;
  }
  .wishlist.window.popup {
    bottom: auto;
    top: 20%;
    left: 50%;
    margin-left: -212px;
    width: 380px;
    right: auto;
  }
  .wishlist.window.popup .field {
    margin: 0 0 20px;
  }
  .wishlist.window.popup .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .wishlist.window.popup .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .wishlist.window.popup .field > .label {
    margin: 0 0 8px;
    display: inline-block;
  }
  .wishlist.window.popup .field.choice:before,
  .wishlist.window.popup .field.no-label:before {
    display: none;
  }
  .block-wishlist-management {
    margin-bottom: 20px;
  }
  .block-wishlist-management .wishlist-select {
    border-bottom: 1px solid #e8e8e8;
    display: table;
    margin-bottom: 15px;
    width: 100%;
  }
  .block-wishlist-management .wishlist-select .wishlist-name {
    display: table-cell;
    margin-right: 10px;
    padding: 5px 10px 10px;
    vertical-align: top;
    white-space: nowrap;
    width: 5%;
  }
  .block-wishlist-management .wishlist-select-items {
    display: table-cell;
    padding-right: 160px;
    vertical-align: top;
  }
  .block-wishlist-management .wishlist-select-items .item {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px 10px;
  }
  .block-wishlist-management .wishlist-select-items .item:last-child {
    margin-right: 0;
  }
  .block-wishlist-management .wishlist-select-items .current {
    border-bottom: 3px solid #ff5501;
    font-weight: 600;
  }
  .block-wishlist-management .wishlist-select .wishlist-name-current {
    display: none;
  }
  .block-wishlist-management .wishlist-add.item {
    position: absolute;
    right: 0;
    top: 0;
  }
  .block-wishlist-management .wishlist-title strong {
    font-size: 4rem;
  }
  .block-wishlist-management .wishlist-info {
    float: left;
  }
  .block-wishlist-management .wishlist-toolbar {
    float: right;
  }
  .block-wishlist-info-items .product-item-photo {
    margin-left: 0;
  }
  .products-grid.wishlist .product-item-checkbox {
    float: left;
  }
  .products-grid.wishlist .product-item-checkbox + .product-item-name {
    margin-left: 25px;
  }
  .paypal-review .paypal-review-title {
    border-bottom: 1px solid #ededed;
  }
  .paypal-review .block-content .box-order-shipping-address,
  .paypal-review .block-content .box-order-shipping-method,
  .paypal-review .block-content .box-order-shipping-method + .box-order-billing-address {
    box-sizing: border-box;
    float: left;
    width: 33%;
  }
  .paypal-review .block-content .box-order-shipping-address {
    padding: 0 5%;
    width: 34%;
  }
  .paypal-review .col.subtotal,
  .paypal-review .mark,
  .paypal-review .amount {
    text-align: right;
  }
  .reward-settings + .actions-toolbar {
    margin-top: -32px;
  }
  .form-create-return .additional .field:last-child {
    margin-top: 29px;
  }
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box {
    margin-bottom: 20px;
  }
  .block-returns-tracking .block-title .action {
    margin: 12px 0 0 30px;
  }
  .block-returns-tracking .block-title .action.track {
    float: right;
  }
  .table-order-items .subtotal,
  .table-order-items .amount {
    text-align: right;
  }
  .table-order-items.creditmemo .col.qty,
  .table-order-items.creditmemo .col.discount,
  .table-order-items.creditmemo .col.subtotal {
    text-align: center;
  }
  .table-order-items.creditmemo .col.total {
    text-align: right;
  }
  .order-actions-toolbar .action.print {
    display: block;
    float: right;
  }
  .page-title-wrapper .order-date {
    margin-top: -20px;
  }
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content .box,
  .sales-guest-view .column.main .block:not(.widget) .block-content .box {
    margin-bottom: 20px;
  }
  .my-credit-cards .card-type img {
    display: block;
  }
  .sidebar .product-items .product-item-details {
    margin: 0;
  }
  .sidebar .product-items .product-item-actions {
    clear: left;
  }
  .product-add-form {
    margin-top: 10px;
  }
  .product-info-main {
    float: right;
  }
  .product.media {
    float: left;
    margin-bottom: 50px;
  }
  .page-layout-1column .product-info-main {
    width: 54%;
  }
  .page-layout-1column .product.media {
    width: 43%;
  }
  .page-layout-2columns-left .product-info-main,
  .page-layout-2columns-right .product-info-main,
  .page-layout-3columns .product-info-main {
    width: 48%;
  }
  .page-layout-2columns-left .product.media,
  .page-layout-2columns-right .product.media,
  .page-layout-3columns .product.media {
    width: 50%;
  }
  .block-category-event.block:last-child {
    margin-bottom: 30px;
    padding: 10px 0 30px;
  }
  .block-category-event .block-title {
    margin: 0;
  }
  .block-category-event .block-title strong {
    font-size: 2.4rem;
  }
  .block-category-event .ticker li {
    display: none;
    margin: 0 50px;
  }
  .block-category-event .ticker .value {
    font-size: 6rem;
  }
  .block-category-event .ticker .label {
    font-size: 1.4rem;
    text-transform: none;
  }
  .block-category-event .dates .date {
    font-size: 5rem;
  }
  .block-category-event .dates .start {
    padding-right: 50px;
  }
  .block-category-event .dates .start:after {
    font-size: 5rem;
    right: 10px;
  }
  .cart-container .form-cart .actions.main {
    text-align: right;
  }
  .cart-container .widget {
    float: left;
  }
  .cart-summary {
    width: 66.66666667%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    padding: 1px 20px 25px;
    position: relative;
  }
  .cart-summary > .title {
    display: block;
  }
  .cart-summary .fieldset .actions-toolbar {
    margin-left: 0;
  }
  .cart-summary .fieldset .actions-toolbar > .secondary {
    float: none;
  }
  .cart-summary .block > .title {
    padding-left: 0;
    padding-bottom: 20px;
  }
  .cart-summary .block > .title:after {
    right: 3px;
  }
  .cart-summary .block .fieldset .field {
    margin: 0 0 20px;
    margin: 0 0 10px;
  }
  .cart-summary .block .fieldset .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .cart-summary .block .fieldset .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .cart-summary .block .fieldset .field > .label {
    margin: 0 0 8px;
    display: inline-block;
  }
  .cart-summary .block .fieldset .field.choice:before,
  .cart-summary .block .fieldset .field.no-label:before {
    display: none;
  }
  .cart-summary .checkout-methods-items {
    padding: 0;
  }
  .cart.table-wrapper .items {
    min-width: 100%;
    width: auto;
  }
  .cart.table-wrapper tbody td {
    padding-top: 20px;
  }
  .cart.table-wrapper .item .col.item {
    padding: 20px 8px 20px 0;
  }
  .cart.table-wrapper .item-actions td {
    padding: 0;
  }
  .cart.table-wrapper .product-item-photo {
    display: table-cell;
    max-width: 100%;
    padding-right: 20px;
    position: static;
    vertical-align: top;
    width: 1%;
  }
  .cart.table-wrapper .product-item-details {
    padding-bottom: 35px;
  }
  .cart.table-wrapper .product-item-details {
    display: table-cell;
    vertical-align: top;
    white-space: normal;
    width: 99%;
  }
  .cart-discount {
    width: 33.33333333%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    border: 0;
    box-sizing: border-box;
    padding-right: 4%;
  }
  .block.crosssell {
    width: 33.33333333%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    padding: 0 4% 0 0;
  }
  .block.crosssell .products-grid .product-item {
    width: 25%;
  }
  .minicart-wrapper {
    margin-left: 13px;
  }
  .minicart-wrapper .block-minicart {
    right: -15px;
    width: 390px;
  }
  .minilist .action.delete:before,
  .minicart-wrapper .action.edit:before {
    font-size: 16px;
    line-height: inherit;
  }
  .opc-wrapper {
    width: 133.33333333%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    padding-right: 30px;
  }
  .opc-estimated-wrapper {
    display: none;
  }
  .opc-progress-bar {
    margin: 0 0 20px;
    counter-reset: i;
    display: block;
    font-size: 0;
  }
  .opc-progress-bar-item {
    margin: 0 0 10px;
    width: 185px;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
  }
  .opc-progress-bar-item:before {
    background: #e4e4e4;
    top: 19px;
    transition: background 0.3s;
    content: '';
    height: 7px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .opc-progress-bar-item:first-child:before {
    border-radius: 6px 0 0 6px;
  }
  .opc-progress-bar-item:last-child:before {
    border-radius: 0 6px 6px 0;
  }
  .opc-progress-bar-item > span {
    display: inline-block;
    padding-top: 45px;
    width: 100%;
    word-wrap: break-word;
    color: #e4e4e4;
    font-weight: 300;
    font-size: 1.8rem;
  }
  .opc-progress-bar-item > span:before,
  .opc-progress-bar-item > span:after {
    background: #e4e4e4;
    height: 38px;
    margin-left: -19px;
    transition: background 0.3s;
    width: 38px;
    border-radius: 50%;
    content: '';
    left: 50%;
    position: absolute;
    top: 0;
  }
  .opc-progress-bar-item > span:after {
    background: #f7f7f7;
    height: 26px;
    margin-left: -13px;
    top: 6px;
    width: 26px;
    content: counter(i);
    counter-increment: i;
    color: #333333;
    font-weight: 600;
    font-size: 1.8rem;
  }
  .opc-progress-bar-item._complete {
    cursor: pointer;
  }
  .opc-progress-bar-item._complete:hover:before {
    background: #d7d7d7;
  }
  .opc-progress-bar-item._complete:hover > span:before {
    background: #d7d7d7;
  }
  .opc-progress-bar-item._complete > span {
    color: #1979c3;
  }
  .opc-progress-bar-item._complete > span:after {
    font-family: 'luma-icons';
    content: '\e610';
  }
  .opc-progress-bar-item._active:before {
    background: #ff5501;
  }
  .opc-progress-bar-item._active > span {
    color: #333333;
  }
  .opc-progress-bar-item._active > span:before {
    background: #ff5501;
  }
  .opc-progress-bar-item._active > span:after {
    font-family: 'luma-icons';
    content: '\e610';
  }
  .checkout-index-index .modal-popup .form-shipping-address {
    max-width: 500px;
  }
  .checkout-index-index .modal-popup .modal-footer .action-save-address {
    float: right;
    margin: 0 0 0 20px;
  }
  .checkout-shipping-method .actions-toolbar > .primary {
    float: right;
  }
  .checkout-shipping-method .actions-toolbar .action.primary {
    margin: 0;
    padding: 10px 20px;
    font-size: 14px;
    line-height: normal;
  }
  .opc-wrapper .form-login,
  .opc-wrapper .form-shipping-address {
    max-width: 500px;
  }
  .opc-wrapper .form-login {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
  }
  .table-checkout-shipping-method {
    width: auto;
  }
  .opc-sidebar {
    margin: 46px 0 20px;
    width: 30%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .opc-summary-wrapper .modal-header .action-close {
    display: none;
  }
  .authentication-dropdown {
    background-color: #ffffff;
    border: 1px solid #aeaeae;
    -webkit-transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    -webkit-transition: -webkit-transform linear 0.1s, visibility 0s linear 0.1s;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: scale(1, 0);
    transform-origin: 0 0;
    transition: transform linear .1s, visibility 0s linear .1s;
    visibility: hidden;
    width: 100%;
  }
  .authentication-dropdown._show {
    z-index: 100;
    -webkit-transform: scale(1, 1);
    -webkit-transition: -webkit-transform linear 0.1s, visibility 0s linear 0s;
    transform: scale(1, 1);
    transition: transform linear .1s, visibility 0s linear 0s;
    visibility: visible;
  }
  .authentication-wrapper {
    width: 33.33333333%;
    text-align: right;
  }
  .block-authentication .block-title {
    font-size: 2.6rem;
    border-bottom: 0;
    margin-bottom: 25px;
  }
  .block-authentication .actions-toolbar > .primary {
    display: inline;
    float: right;
    margin-right: 0;
  }
  .block-authentication .actions-toolbar > .primary .action {
    margin-right: 0;
  }
  .block-authentication .actions-toolbar > .secondary {
    float: left;
    margin-right: 2rem;
    padding-top: 1rem;
  }
  .popup-authentication .modal-inner-wrap {
    min-width: 768px;
    width: 60%;
  }
  .popup-authentication .block-authentication {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: 1px solid #c1c1c1;
  }
  .popup-authentication .block[class],
  .popup-authentication .form-login,
  .popup-authentication .fieldset,
  .popup-authentication .block-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  .popup-authentication .block[class] {
    box-sizing: border-box;
    float: left;
    padding: 10px 30px 0 0;
    width: 50%;
  }
  .popup-authentication .block[class] + .block {
    border-left: 1px solid #c1c1c1;
    border-top: 0;
    margin: 0;
    padding: 10px 0 0 40px;
  }
  .popup-authentication .block[class] + .block::before {
    left: 0;
    top: 50%;
  }
  .popup-authentication .actions-toolbar {
    margin-bottom: 0;
    margin-top: auto;
  }
  .checkout-payment-method .payment-methods .actions-toolbar .primary {
    float: right;
    margin: 0;
  }
  .checkout-payment-method .fieldset > .field-select-billing > .control {
    float: none;
    width: 100%;
  }
  .payment-method-billing-address .action-update {
    float: right;
  }
  .payment-method-billing-address .actions-toolbar .action-cancel {
    margin: 6px 20px 0 0;
  }
  .checkout-payment-method .payment-option-title {
    padding-left: 22px;
  }
  .checkout-payment-method .payment-option-content .payment-option-inner + .actions-toolbar {
    margin-left: 0;
  }
  .login-container .block.login .actions-toolbar > .primary {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .login-container .block.login .actions-toolbar > .secondary {
    float: left;
  }
  .login-container .fieldset > .field > .control {
    width: 90%;
  }
  .form-create-account .fieldset-fullname .fields .field {
    float: left;
    margin: 0 10px 10px 0;
  }
  .form-create-account .fieldset-fullname .field-name-prefix,
  .form-create-account .fieldset-fullname .field-name-suffix {
    width: 50px;
  }
  .form.password.reset,
  .form.send.confirmation,
  .form.password.forget,
  .form.create.account {
    min-width: 600px;
    width: 50%;
  }
  .account.page-layout-2columns-left .sidebar-main,
  .account.page-layout-2columns-left .sidebar-additional {
    width: 22.3%;
  }
  .account.page-layout-2columns-left .column.main {
    width: 77.7%;
  }
  .block-addresses-list .items.addresses > .item {
    margin-bottom: 20px;
  }
  .block-addresses-list .items.addresses > .item:nth-last-child(1),
  .block-addresses-list .items.addresses > .item:nth-last-child(2) {
    margin-bottom: 0;
  }
  .control.captcha-image .captcha-img {
    margin: 0 10px 10px 0;
  }
  .product-reviews-summary {
    margin-bottom: 15px;
  }
  .products.wrapper.list .product-reviews-summary {
    margin: 0;
  }
  .product-reviews-summary .reviews-actions {
    font-size: 13px;
    margin-top: 6px;
  }
  .form.send.friend {
    width: 60%;
  }
  .form.send.friend .fieldset .field {
    width: 45%;
  }
  .form.send.friend .fieldset .field.text {
    width: 90%;
  }
  html,
  body {
    height: 100%;
  }
  .page-wrapper {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
  }
  .page-wrapper > .breadcrumbs,
  .page-wrapper > .top-container,
  .page-wrapper > .widget {
    width: 100%;
    box-sizing: border-box;
  }
  .ie10 .page-wrapper,
  .ie11 .page-wrapper {
    height: 100%;
  }
  .navigation ul {
    padding: 0 8px;
  }
  .header.panel > .header.links {
    float: right;
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none none;
    margin-left: auto;
  }
  .header.panel > .header.links > li {
    display: inline-block;
    vertical-align: top;
  }
  .header.panel > .header.links > li {
    font-size: 14px;
    margin: 0 0 0 15px;
  }
  .header.panel > .header.links > li.welcome,
  .header.panel > .header.links > li a {
    line-height: 1.4;
  }
  .header.panel > .header.links > li.welcome a {
    padding-left: 5px;
  }
  .header.content {
    padding: 30px 20px 0;
  }
  .page-header {
    border: 0;
    margin-bottom: 0;
  }
  .page-header .panel.wrapper {
    border-bottom: 1px solid #e8e8e8;
  }
  .page-header .header.panel {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-main > .page-title-wrapper .page-title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .page-main > .page-title-wrapper .page-title + .action {
    float: right;
    margin-top: 20px;
  }
  .rtl .page-main > .page-title-wrapper .page-title + .action {
    float: left !important;
  }
  .footer.content .block {
    float: right;
  }
  .footer.content .links {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 0 50px 0 0;
  }
  .footer.content .switcher.store {
    display: inline-block;
    padding-right: 50px;
    vertical-align: top;
  }
  .products-grid.wishlist .product-item-tooltip {
    display: inline-block;
  }
  .products-grid.wishlist .product-item .fieldset .field.qty {
    margin-bottom: 10px;
  }
  .products-grid.wishlist .product-item .fieldset .field.qty .label {
    width: auto;
  }
  .products-grid.wishlist .product-item .box-tocart .actions-primary {
    margin: 0;
  }
  .products-grid.wishlist .product-item .box-tocart .stock {
    margin: 20px 0 0;
  }
  .wishlist-index-index .product-item-info {
    width: 240px;
  }
  .sidebar .block.widget .pager .pages-item-next {
    padding: 0;
  }
  .sidebar .block.widget .pager .pages-item-next .action {
    margin: 0;
  }
  .block.widget .products-grid .product-item,
  .page-layout-1column .block.widget .products-grid .product-item,
  .page-layout-3columns .block.widget .products-grid .product-item {
    width: auto;
  }
  .sidebar .block.widget .pager .pages-item-next {
    padding: 0;
  }
  .sidebar .block.widget .pager .pages-item-next .action {
    margin: 0;
  }
}
@media all and (min-width: 769px), print {
  .modal-popup.modal-slide .modal-footer {
    border-top: 1px solid #c1c1c1;
    text-align: right;
  }
}
@media all and (min-width: 1024px), print {
  .checkout-index-index .modal-popup .modal-inner-wrap {
    margin-left: -400px;
    width: 800px;
    left: 50%;
  }
  .opc-wrapper .shipping-address-item {
    width: 33.33333333%;
  }
  .opc-wrapper .shipping-address-item:before {
    background: #cccccc;
    height: calc(100% - 20px);
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }
  .opc-wrapper .shipping-address-item:nth-child(3n+1):before {
    display: none;
  }
  .opc-wrapper .shipping-address-item.selected-item:before {
    display: none;
  }
  .opc-wrapper .shipping-address-item.selected-item + .shipping-address-item:before {
    display: none;
  }
  .table-checkout-shipping-method {
    min-width: 500px;
  }
  .wishlist-index-index .products-grid .product-items {
    margin: 0;
  }
  .wishlist-index-index .products-grid .product-item {
    margin-left: calc((100% - 4 * 24.439%) / 3);
    padding: 0;
    width: 24.439%;
  }
  .wishlist-index-index .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
  }
  .block.widget .products-grid .product-item {
    width: auto;
  }
  .page-layout-1column .block.widget .products-grid .product-item {
    width: auto;
    margin-left: 0;
  }
  .page-layout-1column .block.widget .products-grid .product-item:nth-child(n+1) {
    margin-left: 0;
  }
  .page-layout-1column .block.widget .products-grid .product-item:nth-child(4n+1) {
    margin-left: 0;
  }
  .page-layout-3columns .block.widget .products-grid .product-item {
    width: auto;
  }
  .block.widget .products-grid .product-items {
    margin: 0;
  }
  .block.widget .products-grid .product-item {
    width: auto;
    margin-left: 0;
  }
  .block.widget .products-grid .product-item:nth-child(4n+1) {
    margin-left: 0;
  }
}
@media all and (min-width: 1440px), print {
  .sidebar .product-items .product-item-details {
    margin-left: 85px;
  }
}
/*background RGBA
============================================*/
/*inline-block
============================================*/
/* ---------------------------------- Mixin --------------------------------------- */
/* ---------------------------------- Animation --------------------------------------- */
/* Icon Pop */
@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
/* Shine */
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
/* Circle */
@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
/* Safari and Chrome fix*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .page-wrapper .toolbar .modes-mode {
    float: none;
  }
  ::i-block-chrome,
  .toolbar .sorter-options,
  .toolbar .limiter-options {
    line-height: 26px;
  }
  ::i-block-chrome,
  .toolbar .limiter .label {
    float: left;
  }
  .rtl ::i-block-chrome,
  .rtl .toolbar .limiter .label {
    float: right !important;
  }
  ::i-block-chrome,
  .ves-menutop .ves-megamenu li.level0 > a .caret::after {
    top: -22px;
    right: 8px;
  }
  .rtl ::i-block-chrome,
  .rtl .ves-menutop .ves-megamenu li.level0 > a .caret::after {
    left: 8px;
    right: auto;
  }
  ::i-block-chrome,
  .ves-megamenu.menu-hover .nav-item.level1 .caret {
    top: 0;
  }
  ::i-block-chrome,
  .page-header .call-us {
    top: 0;
  }
  ::i-block-chrome .fotorama__stage__frame .fotorama__img,
  .product.media .fotorama__stage__frame .fotorama__img {
    position: relative;
  }
  ::i-block-chrome,
  .checkout-index-index .field-tooltip {
    right: -25px;
  }
  ::i-block-chrome,
  .modals-overlay {
    display: none;
  }
}
/* IE10+ fix*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ves-autosearch .search_box .category_filter span {
    display: none;
  }
  body.boxed-lg .page-wrapper {
    box-shadow: none;
  }
  .minicart-wrapper .minicart-items-wrapper {
    width: 110%;
  }
}
body input::-ms-clear {
  display: none;
}
