<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php
$ves = $this->helper('Ves\Themesettings\Helper\Theme');
$show_addtocart = $ves->getProductPageCfg('element_settings/show_addtocart');
?>
<?php if($show_addtocart){ ?>
<?php $buttonTitle = __('Beli Sekarang'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty:') ?></span></label>
                    <div class="control">
                        <div class="quantity-adder">
                            <div class="quantity-number">
                                <input type="number"
                                name="qty"
                                id="qty"
                                maxlength="12"
                                value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                                title="<?php /* @escapeNotVerified */ echo __('Quantity') ?>" class="input-text qty"
                                data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                />
                            </div>
                            <div class="quantity-wrapper">
                                <span class="add-up add-action fa fa-angle-up" data-parentqty="true"></span>  
                                <span class="add-down add-action fa fa-angle-down" data-parentqty="true"></span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            require(["jquery"], function(){
                                jQuery(window).ready( function(){
                                   jQuery(".quantity-adder .add-action").click( function(){
                                    if( jQuery(this).hasClass('add-up') ) {  
                                        jQuery(".quantity-adder .qty").val( parseInt(jQuery(".quantity-adder .qty").val()) + 1 );
                                    }else {
                                        if( parseInt(jQuery(".quantity-adder .qty").val())  > 1 ) {
                                            jQuery(".quantity-adder .qty").val( parseInt(jQuery(".quantity-adder .qty").val()) - 1 );
                                        }
                                    }
                                } );
                               })
                            });
                        </script>
                    </div>
                </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                class="action primary tocart"
                id="product-addtocart-button" style="background: #FF5722 !important;">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
            <?php echo $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script>
    require([
        'jquery',
        'mage/mage',
        'Magento_Catalog/product/view/validation',
        'Magento_Catalog/js/catalog-add-to-cart'
    ], function ($) {
        'use strict';

        $('#product_addtocart_form').mage('validation', {
            radioCheckboxClosest: '.nested',
            submitHandler: function (form) {
                var widget = $(form).catalogAddToCart({
                    bindSubmit: false
                });

                widget.catalogAddToCart('submitForm', $(form));

                return false;
            }
        });
    });
</script>
<?php endif; ?>
<?php } ?>
