<style>

@media (min-width: 992px) {
	.page-header #ves-header.header3 .ves-autosearch {
	margin-top: 15px;
	width: 70%;
}
	#hati {
	margin-left: 5px;
	margin-right: 10px;
}
}

@media (min-width: 992px) {
	.header-content {
		margin-left: -11px;
		width: 1195px;
}
}



@media (max-width: 480px) {
        #hati {
       margin-right: 45px;
       margin-top: 1px;
	}

	.header-content {
 	  height: 5px;
	}
	#ves-header {
	 margin-bottom: 20px;
	}
		#menu-top-1 {
			visibility: hidden;
		}

		#menu-top-2 {
			visibility: hidden;
		}

		#indonesia {
			visibility: hidden;
		}

		#inggris {
			visibility: hidden;
		}

}

#menu-top-1 {
	float: right;
	margin-top: 4px;
	font-family: Montserrat;
}

#menu-top-1 a {
	color: #232323;
	font-weight: 600;
	margin-left: 10px;
	margin-right: 10px;
}


#menu-top-1 a:hover {
	color: #d5d5d5;
}

#menu-top-2 {
	float: left;
	margin-top: 2px;
	margin-left: 10px;
}

#indonesia  {
		border: 1px solid #d5d5d5;
		padding: 3px;
		text-decoration: none;
		color: #232323;
		font-weight: 600;
		font-size: 12px;
		font-family: Montserrat;
}

#menu-top-2 a:hover{
	color: #d5d5d5;
}


#inggris {
		border: 1px solid #d5d5d5;
		padding: 3px;
		text-decoration: none;
		color: #232323;
		font-weight: 600;
		font-size: 12px;
		font-family: Montserrat;
}

.ves-menutop {
	border-bottom : 0.5px solid #eaeaea;
}


</style>
<?php
$ves = $this->helper('Ves\Themesettings\Helper\Theme');
$sticky = $ves->getHeaderCfg("sticky_settings/sticky");
$sticky_type = $ves->getHeaderCfg("sticky_settings/sticky_type");
$logo = $ves->getHeaderCfg("sticky_settings/logo");
$menu = $ves->getHeaderCfg("sticky_settings/menu");
$search = $ves->getHeaderCfg("sticky_settings/search");
$custom_block = $ves->getHeaderCfg("sticky_settings/custom_block");
$topcart = $ves->getHeaderCfg("sticky_settings/topcart");
$topbar = $ves->getHeaderCfg("sticky_settings/topbar");
$enable_toplinks = $ves->getHeaderCfg("toplinks_settings/enable");
$show_search = $ves->getHeaderCfg("search_settings/search");
$show_topbar = $ves->getHeaderCfg("topbar/show_topbar");

if($sticky_type == 'all'){
	$logo = $menu = $search = $topcart = $toplinks = $topbar= true;	
}
?>
<div id="ves-header" class="header3" style="background: #FFFFFF;">
	<div class="ves-inner container">
		<div class="header-content clearfix" style="border: 1px solid #FFFFFF; background-color: #FFFFFF; border-radius: 2px; margin-left: -11px; width: 1195px;">
			<div class="row no-margin">
				<div id="menu-top-1">
					<a href="http://panca.tekindo.biz.id/customer/account/login/">Login</a>
					<a href="http://panca.tekindo.biz.id/customer/account/create/">Register</a>
				</div>
				<div id="menu-top-2">
					<a id="indonesia" href="#">ID</a>
					<a id="inggris" href="#">EN</a>
				</div>
			</div>
		</div>
	</div>

	<!-- header content -->
	<div class="ves-inner container">
		<div class="header-content clearfix">
			<div class="row no-margin">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 no-padding">
					<div class="logo-wrapper<?php echo $logo?"sticky-item":"sticky-item-hidden"  ?>">
						<?php echo $this->getChildHtml('logo') ?>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 no-padding">
					<?php if($show_search): ?>
						<div class="search-wrapper ves-autosearch">
							<div class="dropdown-toggle hidden-md hidden-lg" data-toggle="dropdown">
								<i class="fa fa-search">&nbsp;</i>
							</div>
							<div class="search-content" role="menu">
								<?php echo $this->getChildHtml('ves_autosearch') ?>
							</div> 
						</div>
					<?php endif; ?>
					
					<div style="margin-top: 2px;" class="minicart-warp pull-right <?php echo $topcart?"sticky-item":"sticky-item-hidden"  ?>">
						<?php echo $this->getChildHtml('minicart') ?>
						<!-- adding wishlist -->
						<a href="<?php echo $this->getUrl('wishlist') ?>"><i class="fa fa-heart-o fa-lg" id="hati" style="color: black;">&nbsp;</i></a>						
						<!-- end of adding wishlist -->
					</div>
				</div>
			</div>
			<?php if($custom_block = $this->getChildHtml("custom_block")): ?>
			<div class="customblock-wrapper <?php echo $custom_block?"sticky-item":"sticky-item-hidden"  ?>">
				<?php echo $custom_block; ?>
			</div>
			<?php endif; ?>
		</div>
	</div>

	<!-- Menu top -->
	<div class="ves-menutop clearfix <?php echo $menu?"sticky-item":"sticky-item-hidden" ?>"> 
		<div class="ves-inner container">
			<?php echo $this->getChildHtml('catalog.topnav') ?>
		</div>
	</div>

	<?php if($sticky){ ?>
	<script type="text/javascript">
		require([
			'jquery',
			'Ves_Themesettings/js/theme'
			], function(){
				
				function getScroll () {
				    var b = document.body;
				    var e = document.documentElement;
				    return {
				        left: parseFloat( window.pageXOffset || b.scrollLeft || e.scrollLeft ),
				        top: parseFloat( window.pageYOffset || b.scrollTop || e.scrollTop )
				    };
				}
				jQuery(document).ready(function($) {
					var h = jQuery('.page-header').height();
					var myHeader = jQuery('.page-header');
					var hasBreadcrumbs = false;
					var breadcrumbs = jQuery(".breadcrumbs");
					if(typeof(breadcrumbs) != "undefined" && breadcrumbs.length > 0) {
						hasBreadcrumbs = true;
					}
					myHeader.data( 'position', myHeader.position() );

					jQuery(window).scroll(function(){
						var hPos = myHeader.data('position'), scroll = getScroll();
						var h_px = jQuery("#ves-header", ".page-header").outerHeight(true)+"px";

						if ( hPos.top < scroll.top) {
							jQuery('.page-header').addClass("navbar-fixed-top keep-header");
							var headerHeight = jQuery('.page-header').height();
							<?php if($sticky_type == 'specify'){ ?>jQuery(".page-wrapper").css({"padding-top":headerHeight+"px"});<?php } ?>
							jQuery(".sticky-item-hidden").css({"display":"none"});
							if(!hasBreadcrumbs) {
								jQuery("#maincontent").delay(1000).css("margin-top", h_px);
							}
						}else{
							jQuery(".sticky-item-hidden").css({"display":""});
							jQuery('.page-header').removeClass("navbar-fixed-top keep-header");
							jQuery(".page-wrapper").css({"padding-top":""});
							if(!hasBreadcrumbs) {
								jQuery("#maincontent").delay(1000).css({"margin-top": ""});
							}
						}
					});
				});
			});
	</script>
	<?php } ?>
	<?php echo $this->getChildHtml('ves_navigation'); ?>
</div>
