<style>
	.minicart-wrapper .w-item .total-qty {
	min-width: 20px;
	border-radius: 50px;
	}
	
	
</style>

<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>
<?php
$ves = $this->helper('Ves\Themesettings\Helper\Theme');
// Car Design
$cart_format = $ves->getHeaderCfg('top_cart/cart_format');
$cart_text = $ves->getHeaderCfg('top_cart/cart_text');
$cart_class = $ves->getHeaderCfg('top_cart/cart_class');

$cartText = '<span class="label">'.$cart_text.'</span>';
$cartIcon = '<i class="fa '.$cart_class.'"></i>';
?>
<?php $cartHtml = ''; ?>
<?php if((!$cart_format || $cart_format == 'text') && $cart_text){ // Only Text ?>
<?php $cartHtml = $cartText; ?>
<?php }elseif($cart_format == 'icon'){ // Icon, Text ?>
<?php $cartHtml = $cartIcon; ?>
<?php }elseif($cart_format == 'icon-text'){ // Icon, Text ?>
<?php $cartHtml = $cartIcon.$cartText; ?> 
<?php }elseif($cart_format == 'text-icon'){ // Text, Icon ?>
<?php $cartHtml = $cartText.$cartIcon; ?>
<?php } ?>
<div data-block="minicart" class="minicart-wrapper f-right">
    <a class="action showcart" href="<?php /* @escapeNotVerified */ echo $block->getShoppingCartUrl(); ?>" data-bind="scope:'minicart_content'">
        <?php echo $cartHtml ?>
        <span class="w-item">
            <span class="counter total-qty empty"
                  data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
                <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
                <span class="counter-label">
                <!-- ko if: getCartParam('summary_count') -->
                    <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                    <!-- ko i18n: 'items' --><!-- /ko -->
                <!-- /ko -->
                </span>
            </span>
        </span>
    </a>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-minicart empty"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
        </div>
    <?php endif ?>
    <script>
        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
</div>


