<?php $moduleId = rand().time(); $price_text = __('Price'); $module_seletor = "autosearch".$moduleId; $helper = $this->helper('Magento\Search\Helper\Data'); $categories_json = (isset($categories_links) && $categories_links)?Zend_Json::encode( $categories_links ): ""; $categories_json = str_replace( array('\n','\r','\t') ,"", $categories_json); ?> <div class="<?php echo $prefix; ?> box search_box autosearch" style="margin-top: -20px;"><form method="GET" action="<?php echo $this->getCatalogSearchLink(); ?>" id="search_form_<?php echo $moduleId;?>"><?php if(!empty($categories)) { ?> <div class="filter_type category_filter pull-left"><span class="fa fa-angle-down"></span> <select name="category_id" style="border-radius: 5px;"><option value="<?php echo $this->getRootCategory();?>"><?php echo __("All Categories"); ?></option><?php echo $categories; ?></select></div><?php } ?> <div id="<?php echo $module_seletor ?>" class="search pull-left control"><input id="search" type="text" name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>" value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>" placeholder="<?php /* @escapeNotVerified */ echo __('Cari cincin, perhiasan, logam mulia atau lainnya..'); ?>" class="input-text" autocomplete="off" style="border-radius: 5px;"/><span class="button-search zmdi zmdi-search" style="width: 70px; border-radius: 5px;"></span></div></form><?php if($this->getConfig('general/enable_search_term')){ ?> <div class="clear clr"></div><?php if (sizeof($block->getTerms()) > 0): ?> <div id="search_tags" class="search_tags"><div class="title pull-left"><span><?php echo __('Trending keyword'); ?></span></div><div class="content pull-left"><?php foreach ($block->getTerms() as $_term): ?> <a href="<?php echo $this->getCatalogSearchLink(); ?>?q=<?php echo $block->escapeHtml($_term->getName()) ?>" style="font-size:<?php /* @escapeNotVerified */ echo $_term->getRatio()*70+75 ?>%;"><?php echo $block->escapeHtml($_term->getName()) ?></a> <?php endforeach; ?></div></div><?php else: ?> <div class="message"><span><?php /* @escapeNotVerified */ echo __('Maaf, produk yang anda cari tidak tersedia'); ?></span></div><?php endif; ?> <?php } ?></div><script type="text/javascript">
  require([
    'jquery',
    'jquery/ui'
    ],
    function($){
        var categories_links = jQuery.parseJSON('<?php echo isset($categories_json)?$categories_json:''; ?>');
        var selector = '#<?php echo $module_seletor ?>';
        var text_price = "<?php echo trim($price_text);?>";
        var total = 0;
        var show_image = true;
        var show_price = true;
        var search_sub_category = true;
        var search_description = true;


        $("#search_form_<?php echo $moduleId;?>").submit(function(){
            return false;
        });

        $(selector).find('.button-search').bind('click', function(){
            url = "<?php echo $this->getCatalogSearchLink(); ?>";
             
            var category_id = $(".category_filter select[name=\"category_id\"]").first().val();
            if(typeof(category_id) == 'undefined')
                category_id = 0;

            var search = $('input[name=\'<?php echo $helper->getQueryParamName() ?>\']').val();
            
            if(category_id) {
                url += '?cat=' + encodeURIComponent(category_id);
                if (search) {
                    url += '&q=' + encodeURIComponent(search);
                } else if(typeof(categories_links[ category_id ]) != "undefined") {
                    url = categories_links[ category_id ];
                }
            } else if(search) {
                url += '?q=' + encodeURIComponent(search);
            }
            
            location = url;
        });
        $(selector).find('input[name=\'<?php echo $helper->getQueryParamName() ?>\']').keypress(function(e) {

            if(e.which == 13) {
                url = "<?php echo $this->getCatalogSearchLink(); ?>";
                 
                var category_id = $(".category_filter select[name=\"category_id\"]").first().val();
                if(typeof(category_id) == 'undefined')
                    category_id = 0;

                var search = $('input[name=\'<?php echo $helper->getQueryParamName() ?>\']').val();
                
                if(category_id) {
                    url += '?cat=' + encodeURIComponent(category_id);
                    if (search) {
                        url += '&q=' + encodeURIComponent(search);
                    } else if(typeof(categories_links[ category_id ]) != "undefined") {
                        url = categories_links[ category_id ];
                    }
                } else if(search) {
                    url += '?q=' + encodeURIComponent(search);
                }
                
                location = url;
            }
        });
        $(selector).find('input[name=\'<?php echo $helper->getQueryParamName() ?>\']').bind('click', function(e) {
            if (e.keyCode == 13) {
                url = "<?php echo $this->getCatalogSearchLink(); ?>";
                
                var category_id = $(".category_filter select[name=\"category_id\"]").first().val();
                if(typeof(category_id) == 'undefined')
                    category_id = 0;

                var search = $('input[name=\'<?php echo $helper->getQueryParamName() ?>\']').val();
                
                if(category_id) {
                    url += '?cat=' + encodeURIComponent(category_id);
                    if (search) {
                        url += '&q=' + encodeURIComponent(search);
                    } else if(typeof(categories_links[ category_id ]) != "undefined") {
                        url = categories_links[ category_id ];
                    }
                } else if(search) {
                    url += '?q=' + encodeURIComponent(search);
                }
                location = url;
            }
        });


        $(document).ready(function() {
            $(selector).find('input[name=\'<?php echo $helper->getQueryParamName() ?>\']').autocomplete({
            delay: 500,
            minLength: 1,
            appendTo: selector,
            position: {
                    my: "left top",
                    at: "left bottom",
                    collision: "none"
            },
            search: function(event, ui) {
                $(this).addClass("ui-autocomplete-loading");
            },
            open: function() {
                $(this).removeClass("ui-autocomplete-loading");
            },
            source: function(request, response) {
                var category_id = $(".category_filter select[name=\"category_id\"]").first().val();
                if(typeof(category_id) == 'undefined'){
                    category_id = 0;
                }
                var limit = <?php echo isset($limit)?(int)$limit:10;?>;
                var text = encodeURIComponent(request.term);

                var thumb_width = '<?php echo isset($thumb_width)?"&thumb_width=".$thumb_width:""; ?>';
                var thumb_height = '<?php echo isset($thumb_height)?"&thumb_height=".$thumb_height:""; ?>';
                var show_image = '<?php echo isset($show_image)?"&show_image=".$show_image:""; ?>';
                var show_price = '<?php echo isset($show_price)?"&show_price=".$show_price:""; ?>';
                var show_short_description = '<?php echo isset($show_short_description)?"&show_short_description=".$show_short_description:""; ?>';
                var short_max_char = '<?php echo isset($short_max_char)?"&short_max_char=".$short_max_char:""; ?>';
                var search_sub_category = search_sub_category?'&sub_category=true':'';
                var search_description = search_description?'&description=true':'';
                var formkey =  $("input[name='form_key']").val();
                if(text.length >= 1){
                $.ajax({
                    url: '<?php echo $listProductLink ?>',
                    dataType: 'json',
                    data: 'filter_category_id='+category_id+'&limit='+limit+thumb_width+thumb_height+show_image+show_price+show_short_description+short_max_char+search_sub_category+search_description+'&filter_name='+encodeURIComponent(request.term),
                    type:'POST',
                    success: function(data) {
                        response($.map(data, function(item) {
                            if($('.vesautosearch_result')){
                                $('.vesautosearch_result').first().html("");
                            }
                            total = 0;
                            if(item.total){
                                total = item.total;
                            }
                            return {
                                price: item.price,
                                html: item.html,
                                label: item.name,
                                image: item.image,
                                link:  item.link,
                                value: item.product_id
                            }
                        }));
                    }
                });
                }
            },
            focus: function(event, ui) {
                return false;
            }
        });
            var data_ui_autocomplete = "ui-autocomplete";
            if(typeof($(selector).find('input[name=\'<?php echo $helper->getQueryParamName() ?>\']').data( "ui-autocomplete" )) == "undefined") {
                data_ui_autocomplete = "autocomplete";
            }
            $(selector).find('input[name=\'<?php echo $helper->getQueryParamName() ?>\']').data( data_ui_autocomplete )._renderMenu = function(ul,b){
                var g=this;
                $.each(b,function(c,f){g._renderItem(ul,f)});
                var category_id = $(".category_filter select[name=\"category_id\"]").first().val();
                if(typeof(category_id) == 'undefined')
                    category_id = 0;

                category_id = parseInt(category_id);
                var text_view_all = '<?php echo __("View all %s items");?>';
                text_view_all = text_view_all.replace(/%s/gi, total);
                var url = "";
                

                url += '?q=' + g.term;

                if(category_id) {
                    url += '&cat=' + encodeURIComponent(category_id);
                }

                return $(ul).append('<li><a href="<?php echo $this->getCatalogSearchLink(); ?>'+url+'" onclick="window.location=this.href">'+text_view_all+'</a></li>');
            };
            $(selector).find('input[name=\'<?php echo $helper->getQueryParamName() ?>\']').data( data_ui_autocomplete )._renderItem = function( ul, item ) {
                var html = item.html;

                var li_element = $("<li></li>").data("ui-autocomplete-item",item).append(html).appendTo(ul);
                
                $(li_element).click(function(el){
                    $(' input[name=\'search\']').val('');
                    if(item.link){
                        window.location = item.link.replace(/&amp;/gi,'&');
                    }
                });

                
                
                return li_element;
            };
            
        });
    });</script>